@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    /*background-color: #969696;*/
    font-family: 'Roboto', sans-serif;
}

.content {
    background: #001A72;
    background: -webkit-linear-gradient(to top, #fff, #001A72);
    background: linear-gradient(to top, #fff, #001A72);
}

.btn-primary {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
}

h4 {
     color: #ff0000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h5 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p{
    text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.navbar{
    text-align: center;
    width: 100% !important;
    font-size: 18px;
}

.navbar-nav {
    margin: auto;
    padding: 5px;
    text-align: center;
}

.nav-item {
    padding: 10px;
}

.main{
    margin: 5px;
    padding: 5px;
    /*background-color: #969696;*/
}

.table{
    border-color: #000000;
    text-align: center;
    background-color: #26b050;
    color: #fff;
}

.table th{
    font-size: 20px;
}

    /* Add some margins for each label */
.form {
    background-color: #26b050;
    border: 2px solid #000000;
    padding: 10px;
    margin: 5px;
}

    /* Style the input fields */
    .form input {
        vertical-align: middle;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .form label {
        margin-top: 5px;
        margin-left: 10px;
    }

.form-group {
    /*margin: 0px;*/
}

    /* Style the submit button */
.form button {
    margin: 5px;
    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: #000000;
}

.form-inline {
    background-color: #26b050;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 5px;
    width: 100% !important;
    text-align: center;
}

    /* Style the input fields */
.form-inline input {
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

    .form-inline label {
        margin-left: 5px;
        padding: 5px;
    }

/* Style the submit button */
.form-inline button {
    margin-left: 2%;
    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: #000000;
}

/* Style the submit button */
.btn {
    margin: 5px;
    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: #000000;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
