@page "/error"

<div class="container-fluid">
    <form>
        <input type="button" class="btn btn-default" value="Back To Worker Stats" onclick="history.back()" />
    </form>
    <div class="row">
        <div class="col-md-12">
            <h1 style="color:#ff0000">Start date must be earlier than the end date!</h1>
        </div>
    </div>
</div>

@code {

}